*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 2rem;
}

h2{
    margin: 3rem 0 1.5rem 0;
}

.item1{
    position: relative;
}

.item1::before{
    content: "";
    height: 3px;
    width: 150px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: -20px;
}

.item1::after{
    content: "";
    height: 3px;
    width: 150px;
    background-color: blue;
    position: absolute;
    bottom: -10px;
    left: 30px;
}

.item2::first-line{
    font-weight: bold;
}

.item3::first-letter{
    font-size: 2rem;
    color: red;
}

.item4::selection{
    background-color: yellow;
    color: black;
}