*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 2rem;
}

h2{
    margin: 3rem 0 1.5rem 0;
}

.item1{
    position: relative;
}

.item1::before{
    content: "";
    height: 3px;
    width: 150px;
    position: absolute;
    top: -10px;
    left: -20px;
    
    
    background-color: #f00;
    z-index: -1;
}