*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.container{
    display: flex;
    height: 200px;
    border: 2px solid black;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    /* stretch, flex-start, flex-end, center, baseline */
}

.item{
    background-color: tomato;
    margin: 10px;
    padding: 10px 0;
}

.i3{
    font-size: 40px;
}