body{
    background-image: linear-gradient(135deg, #7a7e6b, #bcbcba);
    height: 100vh;
}

#fotoBe{
    background-image: url(assets/photos/be.jpeg);
    height: 255px;
    width: 255px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

h1{
    color: #ffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 33px 0px 27px 0px;
}

.buttonSocial{
    display: block;
    border-radius: 50px;
    width: 255px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffff;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 27px;
    position: relative;
    cursor: pointer;

    img{
        position: absolute;
        height: 24px;
        width: 24px;
        left: 42px;
        top: 9px;
    }

    p{
        position: absolute;
        left: 80px;
        top: 12px;
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}