/* Fundo degradê principal */
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5b6c6, #d33937);
  overflow: hidden;
  position: relative;
}

/* Xadrez */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: 
    repeating-conic-gradient(
      rgba(0,0,0,0.1) 0 90deg, 
      rgba(255,255,255,0.1) 0 180deg
    );
  background-size: 80px 80px; /* tamanho das casas */
  mix-blend-mode: overlay; /* mistura o xadrez com o degradê */
  pointer-events: none;
  opacity: 0.9;
  animation: waveMove 10s ease-in-out infinite alternate;
}

@keyframes waveMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#fotoBe{
    background-image: url(assets/photos/be2.jpg);
    height: 255px;
    width: 255px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
}

h1{
    color: #ffff;
    font-family: "Quicksand";
    font-size: 1.5rem;
    font-weight: bold;
    margin: 33px 0px 27px 0px;
}

.buttonSocial{
    display: block;
    border-radius: 50px;
    width: 255px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffff;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 27px;
    position: relative;
    cursor: pointer;

    img{
        position: absolute;
        height: 24px;
        width: 24px;
        left: 42px;
        top: 9px;
    }

    p{
        position: absolute;
        left: 80px;
        top: 12px;
        font-size: 1.125rem;
        line-height: 1.125rem;
        font-family: "Source Code Pro";
        font-weight: 200;
    }
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}